<!-- views/partials/navbar.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo and brand name -->
        <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" alt="Logo" class="d-inline-block align-text-top" style="height: 40px;">
            To-Do List
        </a>
        
        <!-- Navbar Toggler for mobile responsiveness -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"> <!-- Left side items -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mylist">My List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto"> <!-- Right side items -->
                <li class="nav-item">
                    <a class="nav-link btn-custom" id="login" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-custom" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
