<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css"> <!-- Your custom CSS -->
    <title>To-Do List</title>
</head>
<body>
   
    <%- include('partials/navbar') %>

    <div class="container mt-5">


        <!-- Task Input Section -->
        <div class="card mb-4" style="background-color: #1a1a1a; color: #ffffff;">
            <div class="card-body">
                <h4 class="card-title" style="color: #00ffff;">Add a New Task</h4>
                <form id="taskForm">
                    <div class="form-group">
                        <input type="text" class="form-control mb-3" id="taskInput" placeholder="Enter a task" required style="background-color: #333333; border: 1px solid #00ffff; color: #ffffff;">
                        <input type="text" class ="form-control" id="descriptionInput" placeholder="Enter task description" required style="background-color: #333333; border: 1px solid #00ffff; color: #ffffff;">
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #00ffff; color: #000000; border: none;">Add Task</button>
                </form>
            </div>
        </div>

        
        <div id="taskCards" class="row">
        </div>
    </div>

    <script src="/public/javascripts/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.
